workflows/wf02.json
{
  "name": "02 AI 智能写作助手 · 第一个会用 AI 的工作流",
  "nodes": [
    {
      "id": "note-02",
      "name": "使用说明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [40, 0],
      "parameters": {
        "content": "## ✍️ AI 智能写作助手（第 3-4 节课成品）\n\n**它做什么**：你给主题和要求，AI（DeepSeek 国产模型，免费额度够学习用）替你写周报、通知、产品文案。\n\n**上手三步**：\n1. 注册 DeepSeek 开放平台（platform.deepseek.com），创建 API Key\n2. 双击「DeepSeek 大模型」节点 → Credential 下拉 → 新建凭证，粘贴 Key（课上第 3 节教过）\n3. 改「填写主题和要求」节点里的内容，点 Execute Workflow 试跑\n\n**举一反三**：改提示词模板就是另一个数字员工——写邮件、写会议纪要、润色文档，同一套搭法。",
        "height": 360,
        "width": 400
      }
    },
    {
      "id": "trigger-02",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [500, 220],
      "parameters": {}
    },
    {
      "id": "set-02",
      "name": "填写主题和要求",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 220],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "doc-type",
              "name": "文体",
              "type": "string",
              "value": "工作周报"
            },
            {
              "id": "doc-topic",
              "name": "主题",
              "type": "string",
              "value": "本周完成了客户资料整理和报销单录入，下周计划学习自动化工具提效"
            },
            {
              "id": "doc-req",
              "name": "要求",
              "type": "string",
              "value": "条理清晰、分「本周完成 / 下周计划 / 需要支持」三段，语气专业不啰嗦，300 字以内"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "chain-02",
      "name": "AI 撰写",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [940, 220],
      "parameters": {
        "promptType": "define",
        "text": "=你是一位职场写作高手。请写一篇{{ $json.文体 }}。\n\n主题素材：{{ $json.主题 }}\n\n写作要求：{{ $json.要求 }}\n\n直接输出正文，不要解释。"
      }
    },
    {
      "id": "model-02",
      "name": "DeepSeek 大模型",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [940, 440],
      "parameters": {
        "model": "deepseek-chat",
        "options": {}
      },
      "credentials": {
        "deepSeekApi": {
          "id": "deepseek-cred",
          "name": "DeepSeek 账号"
        }
      }
    },
    {
      "id": "set-out-02",
      "name": "整理输出",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 220],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-text",
              "name": "成稿",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "填写主题和要求",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "填写主题和要求": {
      "main": [
        [
          {
            "node": "AI 撰写",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 撰写": {
      "main": [
        [
          {
            "node": "整理输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek 大模型": {
      "ai_languageModel": [
        [
          {
            "node": "AI 撰写",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
