workflows/wf04.json
{
  "name": "04 信息监控 + 每日简报 · 成品②",
  "nodes": [
    {
      "id": "note-04",
      "name": "使用说明",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {
        "content": "## 📡 信息监控 + 每日简报（实战二·成品②）\n\n**它做什么**：每天 8 点自动抓取你关注的资讯源 → AI 读完替你挑重点、写成 5 条简报 → 推到你的群。3 小时刷资讯变 1 分钟读简报。\n\n**上手三步**：\n1. 「抓取资讯源」节点里把 RSS 地址换成你关注的源（行业网站大多有 RSS；也可以加多个）\n2. 配 DeepSeek 凭证（同模板 02），「推送简报」里换成你的群机器人 webhook\n3. 切 Active，明早 8 点收第一份简报\n\n**举一反三**：源换成竞品动态、政策发布、价格页面，就是竞品监控/政策雷达/比价提醒。",
        "height": 380,
        "width": 420
      }
    },
    {
      "id": "trigger-04",
      "name": "每天早上8点",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [480, 260],
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      }
    },
    {
      "id": "rss-04",
      "name": "抓取资讯源",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [700, 260],
      "parameters": {
        "url": "https://sspai.com/feed",
        "options": {}
      }
    },
    {
      "id": "code-04",
      "name": "清洗并截取前10条",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 260],
      "parameters": {
        "jsCode": "// 只留标题+链接+摘要前 120 字，控制喂给 AI 的篇幅（省钱省时）\nconst items = $input.all().slice(0, 10).map((item, i) => {\n  const j = item.json;\n  const text = (j.contentSnippet || j.content || '').replace(/<[^>]+>/g, '').slice(0, 120);\n  return `${i + 1}. ${j.title}\\n   ${text}\\n   链接: ${j.link}`;\n});\n\nreturn [{ json: { 资讯清单: items.join('\\n\\n'), 条数: items.length } }];"
      }
    },
    {
      "id": "chain-04",
      "name": "AI 蒸馏成简报",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [1140, 260],
      "parameters": {
        "promptType": "define",
        "text": "=你是我的私人信息秘书。下面是今天抓到的 {{ $json.条数 }} 条资讯，请挑出最值得我花时间的 5 条，每条一行，格式「• 标题 — 为什么值得看（一句话）」，最后附上原文链接。按重要程度排序。\n\n{{ $json.资讯清单 }}"
      }
    },
    {
      "id": "model-04",
      "name": "DeepSeek 大模型",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [1140, 480],
      "parameters": {
        "model": "deepseek-chat",
        "options": {}
      },
      "credentials": {
        "deepSeekApi": {
          "id": "deepseek-cred",
          "name": "DeepSeek 账号"
        }
      }
    },
    {
      "id": "http-04",
      "name": "推送简报到群",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 260],
      "parameters": {
        "method": "POST",
        "url": "YOUR_WEBHOOK_URL_HERE",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ msgtype: 'text', text: { content: '📰 今日简报 ' + $now.format('MM月dd日') + '\\n\\n' + $json.text } }) }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "每天早上8点": {
      "main": [
        [
          {
            "node": "抓取资讯源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "抓取资讯源": {
      "main": [
        [
          {
            "node": "清洗并截取前10条",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "清洗并截取前10条": {
      "main": [
        [
          {
            "node": "AI 蒸馏成简报",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 蒸馏成简报": {
      "main": [
        [
          {
            "node": "推送简报到群",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek 大模型": {
      "ai_languageModel": [
        [
          {
            "node": "AI 蒸馏成简报",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
